<div class="widget tag">
  <h3 class="title">Ad</h3>
<script type="text/javascript">
document.write(unescape("%3Cscript%20async%20src%3D%22") + document.location.protocol + unescape("//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js%22%3E%3C/script%3E"));
</script>
<!-- New Sidebar2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-0306215244114104"
     data-ad-slot="5014405625"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
